@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.cdnfonts.com/css/stretch-pro');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
    /* border: 1px solid rgb(255, 0, 0); */
    scroll-behavior: smooth;
}


:root {
    /* --brand-color: #003ec5; */
    --brand-color: #000;
    /* --blue-color: rgb(35, 0, 100); */
    --blue-color: rgb(0, 52, 141);
    /* --brand-color: rgba(2, 61, 0); */
    /* --page-color: #000; */
    --page-color: rgb(242, 242, 247);
    /* --color: rgb(229, 229, 234); */
    --color: rgb(0, 0, 0);
    --white-color: rgb(235, 235, 240);
}

.effectBlur1 {
    position: fixed;
    top: -190px;
    left: -50px;
    width: 600px;
    height: 1000px;
    border-radius: 100%;
    filter: blur(50px);
    background: radial-gradient(circle at top, rgba(85, 85, 85, 0.822), transparent);
    transform: rotate(-50deg);
    animation: moveGradient 4s ease infinite;
    opacity: 0.3;
    z-index: -1;
}

.effectBlur2 {
    position: fixed;
    bottom: -190px;
    right: -50px;
    width: 600px;
    height: 1000px;
    border-radius: 100%;
    filter: blur(50px);
    background: radial-gradient(circle at top, rgba(76, 103, 255, 0.822), transparent);
    transform: rotate(150deg);
    animation: moveGradient 4.5s ease infinite;
    animation-delay: 2s;
    opacity: 0.3;
    z-index: -1;
}

@keyframes moveGradient {
    0%, 100% {
        opacity: .8;
        height: 1000px;
    }
    50% {
        opacity: .8;
        height: 500px;
    } 
    80% {
        opacity: 0.5;
    }
}

.marker-mouse {
    position: relative;
    position: absolute;
    width: 24px;
    height: 24px;
    background: none;
    transition: all .3s ease-out;
    z-index: 10000;
    .box {
        position: relative;
        z-index: 10;
        .edges {
            position: absolute;
            width: 10px;
            height: 10px;
            &:nth-child(1) {
                top: -40px;
                left: -40px;
                border-top: 2px solid #afafaf;
                border-left: 2px solid #afafaf;
            }
            &:nth-child(2) {
                top: -40px;
                right: -5px;
                border-top: 2px solid #afafaf;
                border-right: 2px solid #afafaf;
            }
            &:nth-child(3) {
                bottom: -25px;
                right: -5px;
                border-bottom: 2px solid #afafaf;
                border-right: 2px solid #afafaf;
            }
            &:nth-child(4) {
                bottom: -25px;
                left: -40px;
                border-bottom: 2px solid #afafaf;
                border-left: 2px solid #afafaf;
            }
        }
    }
    
    .icon {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: bottom;
        position: relative;
        i {
            position: absolute;
            bottom: -50px;
            color: #4b4b4b;
            font-size: 1.1em;
        }
    }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-left-2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-66.6% / 2));
  }
}

.gradient {
    /* background: linear-gradient(
        to right,
        #00fdf8,
        #07bbff,
        #0a84ff,
        #6070fd,
        #0600fa,
        #0099ff,
        #1bd6ff
    ); */
    font-weight: 800;
    background: linear-gradient(
    to right,
    #000000,
    #0c84ff,
    #0c3fff,
    #0c64ff,
    #0C84FF,
    #000000,
    #0C84FF,
    #0c64ff,
    #0c3fff,
    #0c84ff,
    #000000
  );
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 7s linear infinite;
}
@keyframes animate-gradient {
    to {
        background-position: 200%;
    }
}


.button-hover-animation:hover {
    transition: all .2s ease;
}

.button-hover-animation:hover {
    opacity: .8;
    cursor: pointer;
}

/* 
#starfield {
    position: absolute;
    right: 0;
    top: 150px;
    z-index: -2;
    display: block;
    border: 0;
    outline: 0;
    transform: scale(1.2);
    transition-duration: 1s;
    display: none;
} GALAXY VIDEO BACKGROUND */

.gray-142 {
    color: rgb(108, 108, 112);
}

.divider {
    width: 90%;
    border-top: 2px dashed #000;
    box-sizing: border-box;
    background: none;
    opacity: .8;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 130vh;
    z-index: 1;
    display: none;
}
