
body {
    /*
    background:
    radial-gradient(ellipse at top, #fa69096c, transparent),
    radial-gradient(ellipse at bottom, #899f0c52, transparent);*/
    background: var(--page-color);
    width: 100%;
    overflow: hidden;
    overflow-y: hidden;
    padding-top: 100vh;
    transition: 1s ease-in-out;
    
}

.textfloat1 {
    position: absolute;
    top: 30px;
    right: 30px;
    text-align: right;
    max-width: 370px;
    font-size: .8em;
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--brand-color);
    opacity: .4;
    i {
        position: absolute;
        top: 0;
        left: 0;
        transform: rotate(180deg);
        font-size: 2.2em;
    }
}

.name-brand {
    font-size: 25em;
    font-weight: 800;
    color: var(--brand-color);
    z-index: 9999;
    opacity: .1;
    user-select: none;
    text-align: center;
    overflow: hidden;
    text-wrap: nowrap;
    height: 330px;
    transition: all 1s ease-out;
    &:hover {
        margin-top: -20px;
        height: 350px;
    }
}

header {
  position: sticky;
  top: -1px;
  left: 10%;
  display: flex;
  border-top: 1px solid #8888888c;
  border-bottom: 1px solid #8888888c;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  width: 80%;
  height: 60px;
  z-index: 9999;
  transition: 1s ease !important;
  ul {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    border-radius: 50px;
    background-color: transparent;
    box-sizing: border-box;
    white-space: nowrap;
    margin-right: -240px;
    z-index: 1;
    li {
        position: relative;
      list-style: none;
      transition: .3s ease;
      padding: 5px;
      border-radius: 8em;
      &:hover {
        transform: translateY(5px);
      }
      &:hover a {
        color: var(--color);
      } /* HOVER */
      a {
        text-decoration: none;
        color: var(--color);
        font-weight: 500;
        transition: 0.3s;
        margin: 0 10px;
        transition: 1s ease;
        font-size: 1em;
      } /* A */
    } /* LI */
    li.active {
        &::before {
            content: '';
            position: absolute;
            width: 60%;
            height: 5px;
            bottom: -15px;
            left: 20%;
            background: var(--brand-color);
            border-radius: 0;
            z-index: -1;
            transition: .3s ease;

        }
    }
  } /* UL */
  .logo-brand {
    position: absolute;
    left: 35px;
    display: flex;
    align-items: center;
    justify-content: left;
    img {
      width: 80px;
      margin: 0 15px;
      filter: invert(1);
    } /*IMG */
  } /* LOGI BRAND */
  .button-containment {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    z-index: 3;
    button {
      padding: 5px 10px;
      border-radius: 8em;
      background: var(--blue-color);
      color: #fff;
      border: none;
      box-sizing: border-box;
      &:nth-child(2) {
        background: transparent;
        backdrop-filter: blur(3px);
        border: 1px solid #8888888c;
        color: var(--color);
      } /* NTH CHILD */
    } /* BUTTON */
  } /* BUTTON CONTAINMENT */
} /* HEADER */

header.sticky::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #00000000, var(--page-color), #00000000);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 5%, black 95%, transparent 100%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;

    mask-image: linear-gradient(to right, transparent 0%, black 5%, black 95%, transparent 100%);
    mask-repeat: no-repeat;
    mask-size: cover;
}

main {
    z-index: 100;
    padding-top: 150px;
    margin-top: -60px;
    .content-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .hero-info-title {
            position: relative;
            color: var(--color);
            padding: 7px 7px 7px 7px;
            border-radius: 50px;
            width: 180px;
            display: flex;
            align-items: center;
            gap: 10px;
            margin: auto;
            font-size: .8em;
            font-weight: 300;
            z-index: 9;
            &:after {
                position: absolute;
                top: 1.3px;
                left: 1.3px;
                content: "";
                width: calc(100% - 2.2px);
                height: calc(100% - 2.4px);
                background: transparent;
                border: 1px solid #8888888c;
                border-radius: 8em;
                z-index: -1;
            }
            img {
                width: 20px;
                height: 20px;
                object-fit: cover;
                border-radius: 8em;
                border: 1px solid #8888888c;
                box-sizing: border-box;
                background: #000;
            } /* IMG */
            img:nth-child(2) {
                margin-left: -20px;
            } /* IMG */
        } /* HERO INFO TITLE */
        
        h1 {
            margin-top: 10px;
            text-align: center;
            font-size: 3.5em;
            font-weight: 600;
            color: var(--color);
        }
        p {
            margin: 20px 0 0 0;
            max-width: 650px;
            font-weight: 600;
            text-align: center;
            opacity: 0.6;
            color: var(--color);
        }

        .buttons {
            margin: 30px 0 0 0;
            display: flex;
            gap: 20px;
            button {
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 4px 20px 4px 4px;
                border-radius: 50px;
                background: var(--blue-color);
                color: var(--page-color);
                border: none;
                box-sizing: border-box;
                font-size: 1em;
                font-weight: 300;
                &:nth-child(2) {
                    background: transparent;
                    border: 1px solid rgba(0, 0, 0, 0.527);
                    font-size: 1em;
                    padding-left: 20px;
                    color: var(--color);
                } /* NTH CHILD */
                i {
                    font-size: 1.2em;
                    padding: 4px;
                    border-radius: 50px;
                    color: var(--color);
                    background-color: var(--page-color);
                }
            } /* BUTTON */
        } /* BUTTONS */
    }
    .content-cards {
        margin: 0 30px 0 30px;
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        .card {
            overflow: hidden;
            width: 39%;
            height: 250px;
            background: var(--color);
            position: relative;
            transition: .5s ease;
            border-radius: 12px;
            .img-bg {
                position: absolute;
                left: 0;
                right: 0;
                z-index: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all .3s ease-out;
                filter: grayscale(100%) brightness(80%);
            }
            .top-line {
                display: flex;
                align-items: center;
                justify-content: left;
                gap: 10px;
                padding: 15px;
                div {
                    padding: 5px 10px;
                    font-size: .8em;
                    border: #ffffff25 solid 1px;
                    border-radius: 8em;
                    background: linear-gradient(150deg, #00000031, #00000083, #0000002c);
                    backdrop-filter: blur(10px) brightness(100%);
                    color: var(--white-color);
                }
                
            }
            .bottom-line {
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: left;
                width: 100%;
                height: 30px;
                text-wrap: nowrap;
                position: absolute;
                bottom: 10px;
                left: 10px;
                gap: 20px;
                div {
                    img {
                        width: 60px;
                        filter: invert(0);
                    }
                    &:nth-child(2) {
                        p {
                            font-weight: 700;
                            color: var(--page-color);
                            text-shadow: 1px 1px 7px #000;
                        }
                    }
                }
            }
            &:nth-child(2) {
                overflow: hidden;
                width: 6.3%;
                background: var(--color);
                &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                }
                p {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(-90deg);
                    color: var(--page-color);
                    font-size: 1.2em;
                    font-weight: 400;
                    text-align: center;
                    z-index: 1;
                }
            }
            &:nth-child(3) {
                padding: 0;
                width: 6.3%;
                overflow: hidden;
                transition: all .5s ease;
                cursor: pointer;
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-image: url('../media/img/mg-2.heic');
                    background-size: cover;
                    background-position: center;
                    width: 100%;
                    height: 100%;
                    filter: grayscale(100%);
                }
                &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;  
                    top: 0;
                    left: 0;
                    backdrop-filter: blur(15px);
                    transition: all .6s ease;
                    transition-delay: .2s;
                }
                
                &:hover::after {
                    opacity: 0;
                }
                &:hover {
                    width: 24%;
                }
            }       
            &:nth-child(4) {
                background: rgba(0, 0, 0, 0.100);
                width: 30%;
                padding: 10px;
                box-sizing: border-box;
                .content {
                    height: calc(100% - 65px);
                    padding: 8px;
                    margin-top: 15px;
                    
                    h1 {
                        margin: 20px 0 5px 0;
                        font-size: 2em;
                        font-weight: 700;
                    }
                    p {
                        font-weight: 400;
                        opacity: .5;
                        margin-right: 5%;
                    }
                    button {
                        position: absolute;
                        bottom: 30px;
                        left: 20px;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        padding: 4px 20px 4px 4px;
                        border-radius: 50px;
                        background: var(--color);
                        color: var(--page-color);
                        border: none;
                        box-sizing: border-box;
                        font-size: 1em;
                        font-weight: 300;
                        i {
                            font-size: 1.2em;
                            padding: 4px;
                            border-radius: 50px;
                            color: var(--color);
                            background-color: var(--page-color);
                        }
                    }
                }
            }       
            &:nth-child(5) {
                display: none;
                width: 6.3%;
                background: #000;
                overflow: hidden;
                &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                }
                &::before {
                    content: '5';
                    top: 15px;
                    left: 15px;
                }
                p {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(-90deg);
                    color: var(--page-color);
                    font-size: 1.2em;
                    font-weight: 400;
                    text-align: center;
                    z-index: 1;
                }
            }       
              
        }
    }
    .assessmentsAndNetworks {
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0 120px 0 120px;
        margin: 20px auto;
        .content-1 {
            width: 46%;
            display: flex;
            align-items: left;
            flex-direction: column;
            div {
                font-size: .7em;
                font-weight: 200;
                font-family: 'Stretch Pro', sans-serif;
            }
        }
        .content-2 {
            float: right;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            width: 7%;
            div {
                background: rgb(108, 108, 112);
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 8px;
                i {
                    color: #ffffff;
                }
            }
        }
    }
    .carrousel-skills {
        width: 40%;
        overflow: hidden;
        margin: auto;
        margin-top: 78px;
        margin-bottom: 188px;
        opacity: .7;
        .content {
            display: flex;
            width: max-content;
            animation: scroll-left 20s linear infinite;
          .item {
                flex: 0 0 auto;
                margin-right: 40px;
            img {
                width: 40px;
                height: auto;
                display: block;
                filter: invert(0);
            } /* IMG */
          } /* ITEM */
        } /* CONTENT */   
    } /* CARROUSEL SKILLS*/
}

.loading-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--page-color);
    z-index: 999999;
    overflow: hidden;
    transition: 1s ease-in-out;
    .load {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 5px;
        background: var(--page-color);
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 0%;
            height: 100%;
            background: rgba(0, 0, 0);
            animation: load 5s linear;
        }
    }
    &.hidden {
        height: 0;
    }
    .txt {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 0;
        
        .logo {
            width: 400px;
            height: 400px;
            background-image: url('../media/logos/png/logo.png');
            background-size: cover;
            background-position: center;
            filter: invert(1);
        }
        .icon-load {
            position: absolute;
            bottom: 50px;
            width: 50px;
            height: 50px;
            border: 5px solid #000;
            border-radius: 50%;
            opacity: 1;
            animation: rotate 2s linear infinite;
            &::after {
                content: '';
                position: absolute;
                top: 8px;
                left: 8px;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: #000;
            }
        }
    }
}

@keyframes load {
    0% {
        left: 0;
        width: 0%;
    } 25% {
        width: 30%;
        left: 20%;
    } 60% {
        width: 15%;
        left: 45%;
        animation-duration: 20s;
    } 85% {
        width: 50%;
        left: 50%;
    } 100% {
        left: 100%;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) scale(0.5);
    } 100% {
        transform: rotate(360deg) scale(0.5);;
    }
}