/* ================================ MEDIA QUERIES – RESPONSIVIDADE ================================ */

@media screen and (max-width: 1020px) { 
  
}

@media screen and (max-width: 840px) {
  .name-brand {
      font-size: 9em;
      height: 110px;
      text-align: center;
  }
  header {
    ul {
      position: absolute;
      margin: auto;
      right: 25px;
      padding-right: 240px;
      margin-right: 0;
      border: .9px solid #8888888c;
    } /* UL */
    
    .button-containment {
      gap: 10px;
    } /* BUTTON CONTAINMENT */
  }
}

@media screen and (max-width: 755px) {
  .marker-mouse {
      display: none;
  }
  header {
    ul {
      position: absolute;
      right: 25px;
      padding-right: 240px;
      margin-right: 0;
    } /* UL */
    
    .button-containment {
      gap: 10px;
    } /* BUTTON CONTAINMENT */
  }
  main {
    .content-cards {
      display: grid; 
      grid-template-rows: 1fr 1fr ;
      grid-template-columns: 1fr 2.7fr;
      
      gap: 10px;
      height: 100%;
    }
    .card {
      width: 100% !important;
      grid-row-start: 1;
      grid-column-start: 1;

      grid-row-end: 2;
      grid-column-end: 5;
      &:nth-child(2) {
        grid-row-start: 2;
        grid-column-start: 1;

        grid-row-end: 3;
        grid-column-end: 2;
        &::before {
          margin: 10px auto;
        }
      }
      &:nth-child(3) {
        grid-row-start: 2;
        grid-column-start: 2;

        grid-row-end: 3;
        grid-column-end: 5;
        &::after {
          display: none;
        }
      }
      &:nth-child(4) {
        grid-row-start: 3;
        grid-column-start: 1;

        grid-row-end: 5;
        grid-column-end: 5;
      }
        
    }
  }
}
 

@media screen and (max-width: 700px) {
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 20px);
    left: 10px;
    right: 10px;
    .logo-brand {
      position: absolute;
      left: calc(55% - 80px);
    }
    .menu-icon {
      display: inline;
      position: absolute;
      left: 10px;
      &:after {
        position: absolute;
        left: 0;
        top: -4px;
        content: '';
        width: 20px;
        height: 2.5px;
        background: var(--color);
        border-radius: 8em;
      } /* AFTER */
      &:before {
        position: absolute;
        left: 0;
        bottom: -4px;
        content: '';
        width: 20px;
        height: 2px;
        background: var(--color);
        border-radius: 8em;
      } /* BEFORE */
    } /* MENU ICON */
    ul {
      display: none;
    } /* UL */
    .button-containment {
      display: none;
    } /* BUTTON CONTAINMENT */
  } /* HEADER */

  main {
    .content-text {
      
      h1 {
        font-size: 2.6em;
        margin: 20px 20px 20px 20px;
      }
      p {
        margin: 0 20px 0 20px;
      }
      .buttons {
        gap: 20px;
      } 
    }
    .assessmentsAndNetworks {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 0 30px 0 30px;
        margin: 20px auto;
        gap: 20px;
        .content-1 {
            width: 100%;
            display: flex;
            flex-direction: column;
            text-align: center;
            div {
                font-size: .7em;
                font-weight: 200;
                font-family: 'Stretch Pro', sans-serif;

            }
        }
        .content-2 {
            float: right;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            width: 100%;
            div {
                background: rgb(108, 108, 112);
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 8px;
                i {
                    color: #ffffff;
                }
            }
        }
    }
  }

  .effectBlur1 {
      background: radial-gradient(circle at top, /*rgba(0, 126, 174, 0.81)*/ var(--white-color), transparent);
  }

  .effectBlur2 {
      display: none;
  }

}

@media screen and (max-width: 560px) {
  
}

@media (max-aspect-ratio: 16/9) { 
  
}

@media (min-aspect-ratio: 16/9) {
  
}

